<!--<p id="notice"><%#= notice %></p>-->
<section class="hero is-fullheight is-danger" style="background-color: #ED6A39;">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">Menu de <%= current_local.nombre %></h1>
      <div class="columns is-mobile">
        <div class="column">
          <% @platos.each do |plato| %>
            <% if plato.local_id == current_local.id %>
              <div class="box">
                <div class="columns">
                  <div class="column">
                    <strong><%= plato.nombre %></strong>
                    <br>
                    <em><%= plato.descripcion %></em>
                    <br>
                    $<%= plato.precio %> pesos
                    <br>
                  </div>
                </div>
                <% if local_signed_in? and current_local.id == plato.local_id %>
                  <%= link_to 'Ver', plato_path(plato.id), class: "button is-link" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <a href="/platos/new" class="button is-success">Agregar Plato al Menu</a>
      <a href="/locals/perfil?id=<%= current_local.id %>" class="button is-warning">Volver al Local</a>
    </div>
  </div>
</section>
