<section class="hero is-danger is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-4-widescreen">
            <div class="box">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label :nombre, class: 'label' %>
                  <%= f.text_field :nombre, autofocus: true, autocomplete: "nombre", class: "input is-danger" %>
                </div>

                <div class="field">
                  <%= f.label :email, class: 'label' %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-danger" %>
                </div>

                <div class='field'>
                  <%= f.label :descripcion, class: 'label' %>
                  <%= f.text_area :descripcion, autofocus: true, autocomplete: "descripcion", :cols => 30, :rows => 10, class: "input is-danger" %>
                </div>

                <!-- imagen -->
                <div class="field">
                  <% if resource.avatar.attached? %>
                  <figure>
                      <%= image_tag resource.avatar, class: 'image is-128x128 is-rounded' %>
                  </figure>
                  <% else %>
                      <p class="label">No tienes una imagen aun!</p>
                  <% end %>
                  <div>
                      <%= f.file_field :avatar, class: "input is-danger" %>
                  </div>
                </div>

                <!--  <div class='field'>-->
                <!--    <%#= f.label :comuna%>-->
                    <%#= f.text_field :comuna, autofocus: true, autocomplete: "comuna"%>
                <!--  </div>-->
                
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password , class: 'label'%> <i>(leave blank if you don't want to change it)</i>
                  <%= f.password_field :password, autocomplete: "new-password", class: "input is-danger" %>
                  <% if @minimum_password_length %>
                    
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation, class: "label" %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input is-danger" %>
                </div>

                <div class="field">
                  <%= f.label :current_password, class: 'label' %> <i>(we need your current password to confirm your changes)</i>
                  <%= f.password_field :current_password, autocomplete: "current-password", class: "input is-danger" %>
                </div>

                <%if admin_signed_in?%>
                  <%if :confirmation == false?%>
                    <div class="field">
                      <%= f.label :confirmation, class: 'label' %>
                      <%= f.checkbox :confirmation %>
                    </div>
                  <%end%>
                <%end%>

                <div class="actions">
                  <%= f.submit "Update" , class: 'button is-primary'%>
                </div>
              <% end %>
            </div>
            <%if local_signed_in?%>
              <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-warning" %></p>
            <%end%>
            <br>
            <%= link_to "Home", welcome_path , class: "button is-secondary" %>
          </div>
        </div>
      </div>
    </div>
</section>
