<section class="hero is-danger is-fullheight">
  <h1 class="title is-1"> Registrate aquí como local* </h1>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-4-widescreen">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                       html: {class: "box"}) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            
            <div class="field">
              <%= f.label :nombre, class: 'label' %>
              <div class="control has-icons-left">
                <%= f.text_field :nombre, autofocus: true, autocomplete: "nombre", class: " input is-danger" %>
                <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                  </span>
              </div>
            </div>

            <div class="field">
              <%= f.label :email, class: 'label' %>
              <div class="control has-icons-left">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: " input is-danger",
                                  type: "email", placeholder: "e.g. user@gmail.com" %>
                <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
              </div>
            </div>

            <div class="field">
              <label for="comuna_id" class="label">Seleccione una comuna:</label>
              <div class="control has-icons-left">
                <div class="select is-danger">
                    <%= f.select(:comuna_id, Comuna.all.collect { |p| [p.nombre, p.id] }, {include_blank: false}) %>
                </div>
                <div class="icon is-left">
                  <i class="fa fa-map-marker"></i>
                </div>
              </div>
            </div>

            <div class="field">
              <%= f.label :descripcion, class: 'label' %>
              <div class="control">
                <%= f.text_area :descripcion, autofocus: true, autocomplete: "descripcion", :cols => 30, :rows => 10,
                                class: "textarea is-small is-danger" %>
              </div>
            </div>

            <div class="field">
              <%= f.label :password, class: 'label' %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <div class="control has-icons-left">
                <%= f.password_field :password, autocomplete: "new-password",
                                     class: " input is-danger" %>
                <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
              </div>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, class: 'label' %>
              <div class="control has-icons-left">
                <%= f.password_field :password_confirmation, autocomplete: "new-password",
                                     class: " input is-danger" %>
                <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
              </div>
            </div>

            <div class="field is-grouped is-grouped-centered">
              <p class="control">
                <%= f.submit "Sign Up", class: "button is-danger" %>
              </p>
              <p class="control">
                <%= render "locals/shared/links" %>
              </p>
            </div>
          <% end %>
          <%= link_to 'Home', welcome_path, class: "button is-secondary" %>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p> *Tu local no será visible hasta que seas aceptado por admin</p>
  </div>
</footer>