<p id="notice"><%= notice %></p>

<div class="hero-body">
  <h1 class="title"> Locales de DCCitas</h1>
</div>
<div class="content">
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Valoracion</th>
  <!--    <th style="padding:10px">Comuna</th>-->
      <th>Descripcion</th>
      <th> Acciones </th>
    </tr>
    </thead>

    <tbody>
    <% @locals.each do |local| %>
      <% if local.confirmation == true %>
        <tr>
          <td><%= local.id %></td>
          <td><%= local.nombre %></td>
          <td><%= local.email %></td>
          <td><%= local.valoracion %></td>
    <!--      <td style="padding:10px"><%#= local.comuna %></td>-->
          <td><%= local.descripcion %></td>
          <td><%= link_to 'Ver', local_path(local.id) %>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>


<button class="button is-secondary">
  <a href="<%= welcome_path %>">Home</a>
</button>

<button class="button is-warning">
  <a href="<%= lpostulantes_path%>">Ver postulantes</a>
</button>