<div class="hero-body">
  <h1 class="title"> Lista de Usuarios DCCitas</h1>
</div>
<div>
  <table class="table is-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Fecha de nacimiento</th>
      <th>Genero</th>
      <th>Comuna</th>
      <th>Telefono</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </tr>

    <% @users.each do |u| %>
    <tr>
      <td><%= u.nombre %></td>
      <td><%= u.email %></td>
      <td><%= u.edad %></td>
      <td><%= u.genero %></td>
      <td><%= u.comuna %></td>
      <td><%= u.telefono %></td>
      <td><%= u.descripcion %></td>
      <td><%= link_to 'Ver', user_path(u.id) %></td>
    </tr>
    <% end %>
  </table>
</div>
<%# <%= link_to "Delete User",  controller: "users/registrations", action: 'destroy', id: @current_ %> 
<br>
<a href="<%= welcome_path %>" class="button is-secondary">Home</a>