<h1> Lista de Usuarios DCCitas</h1>

<table>
  <tr>
    <th style="padding:10px">Name</th>
    <th style="padding:10px">Email</th>
    <th style="padding:10px">Fecha de nacimiento</th>
    <th style="padding:10px">Genero</th>
<!--    <th style="padding:10px">Comuna</th>-->
    <th style="padding:10px">Telefono</th>
    <th style="padding:10px">Descripcion</th>
    <th style="padding: 10px">Acciones</th>
  </tr>

  <% @users.each do |u| %>
  <tr>
    <td style="padding:10px"><%= u.nombre %></td>
    <td style="padding:10px"><%= u.email %></td>
    <td style="padding:10px"><%= u.edad %></td>
    <td style="padding:10px"><%= u.genero %></td>
<!--    <td style="padding:10px"><%#= u.comuna %></td>-->
    <td style="padding:10px"><%= u.telefono %></td>
    <td style="padding:10px"><%= u.descripcion %></td>
    <td style="padding:10px"><%= link_to 'Ver', user_path(u.id) %></td>
  </tr>
  
  <% end %>

</table>

<%# <%= link_to "Delete User",  controller: "users/registrations", action: 'destroy', id: @current_ %> 


<br>
<%= link_to 'Back', :back%>
<br>
<a href="/">Volver al Inicio</a>