<section class="hero is-fullheight is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title"> Busqueda </h1>
      <% @users.each do |user| %>
        <% if user.id != current_user.id%>
          <div class="columns is-centered">
            <div class="column is-4-desktop is-4-widescreen">
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <% if user.avatar.attached? %>
                      <figure class="image is-128x128">
                        <%= image_tag user.avatar, class: 'image is-128x128 is-rounded' %>
                      </figure>
                    <% else %>
                      <figure class="image is-128x128">
                        <img class="rounded-circle" src="https://via.placeholder.com/128" alt=""/>
                      </figure>
                    <% end %>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <h3 class="title" style="color: hsl(0, 0%, 21%)"> <%= user.nombre %></h3>
                      <p>
                        Mi edad es <%= user.edad_numeros %> años.
                        Vivo en la comuna 1<%= user.comuna_id %>.
                      </p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="columns is-centered">
                <div class="column is-centered">
                  <div class="box">
                    <%= link_to '❤️' , interactions_new_path(user.id) %>
                  </div>
                </div>
                <div class="column"></div>
                <div class="column">
                  <div class="box">
                    <%= link_to '❌' , interactions_new_path(user.id) %>
                  </div>
                </div>

              </div>

            </div>
<!--            <div class="column is-5-tablet is-4-desktop is-4-widescreen">-->
<!--              <div class="box is-centered">-->
<!--                <img class="rounded-circle" src="https://via.placeholder.com/150" alt=""/>-->
<!--                <h3 class="title" style="color: hsl(0, 0%, 21%)"> <%#= user.nombre %></h3>-->
<!--                <div class="content">-->
<!--                  <p>-->
<!--                    Mi edad es <%#= user.edad_numeros %> años.-->
<!--                    Vivo en la comuna 1<%#= user.comuna_id %>.-->
<!--                  </p>-->
<!--                </div>-->

<!--              </div>-->
<!--            </div>-->
<!--            <div class="column is-1-desktop is-1-widescreen">-->
<!--              <div class="box">-->
                <%#= link_to '❌' , interactions_new_path(user.id) %>
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="columns">-->


          </div>
        <% end %>
      <% end %>
      <a href="/" class="button is-warning">Volver al Inicio</a>
    </div>

<!--- Esto servira cuando implementemos las comunas

<% @connection = ActiveRecord::Base.connection %>
<% result = @connection.exec_query('SELECT * FROM Interactions; ') %>
<% result.each do |row| %>
    <p><%= row['id'] %> </p>
<%end%>
-->


  </div>
</section>
