<h1>Editar Comentario</h1>

<%= form_with(model: @comentario, url: comentario_path(@comentario.id), method: :patch) do |form| %>
  <div class='field'>
    <%= form.label :contenido %><br />
    <%= form.text_area :contenido, autofocus: true, autocomplete: "contenido", :cols => 30, :rows => 10 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', comentarios_path %>
