<!--<p id="notice"><%#= notice %></p>-->

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Comentarios</h1>
    </div>
  </div>
</section>
<div class="section-padding">
  <table class="table">
    <thead>
    <tr>
      <th>Usuario</th>
      <th>Local</th>
      <th>Fecha</th>
      <th>Contenido</th>
      <th> Acciones </th>
    </tr>
    </thead>

    <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.user_id %></td>
        <td><%= comentario.local_id %></td>
        <td><%= comentario.fecha %></td>
        <td><%= comentario.contenido %></td>
        <td>
          <%= link_to 'Ver', comentario_path(comentario.id), class:"button is-warning" %>
        </td>
      </tr> 
    <% end %>
    </tbody>
  </table>
</div>
<a href=<%= welcome_path %> class="button is-warning">Volver al Inicio</a>
