<section class="hero is-fullheight is-danger">
  <div class="hero-body">
    <div class="container">


      <div class="columns is-centered">
        <div class="column is-12-tablet is-6-desktop is-8-widescreen">


          <h1 class="title">Nuevo Comentario de <%= current_user.nombre %> para <%= @local.nombre %></h1>

          <%= form_with(model: @comentario, method: :post, html: {class: "box has-text-centered"}) do |form| %>

            <div class="field">
              <%= form.label :fecha, class: "label" %>
              <%= form.date_field :fecha, autofocus: true, autocomplete: "fecha", value: Date.today, class: "input is-danger", :readonly => true %>
            </div>

            <div class='field'>
              <%= form.label :contenido, class: "label"%>
              <%= form.text_area :contenido, autofocus: true, autocomplete: "contenido", class: "textarea is-danger"%>
            </div>

            <div class="is-invisible">
              <%= form.label :local, class: "label" %>
              <%= form.number_field :local_id, autofocus: true, autocomplete: "local_id", value: @local.id %>
            </div>

            <div class="is-invisible">
              <%= form.label :user, class: "label" %>
              <%= form.number_field :user_id, autofocus: true, autocomplete: "user_id", value: current_user.id %>
            </div>

            <div class="actions">
              <%= form.submit 'Crear Comentario', class: "button is-warning" %>
            </div>
          <% end %>

          <%= link_to 'Back', users_locales_path, class: "button is-secondary" %>
        </div>
      </div>
    </div>
  </div>

</section>