<section class="hero is-danger is-fullheight">
<h1 class="title is-1">Inicia sesión como usuario</h1>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-4-widescreen">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "box"}) do |f| %>
<!--            <div class="field has-text-centered">-->
<!--              <img src="../../assets/images/logo_puc.png" width="1200" height="1616" alt="">-->
<!--            </div>-->

            <div class="field">
              <%= f.label :email, class: 'label' %>
              <div class="control has-icons-left">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: " input is-danger",
                                  type: "email", placeholder: "e.g. user@gmail.com"%>
                <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
              </div>
            </div>

            <div class="field">
              <%= f.label :password, class: 'label' %>
              <div class="control has-icons-left">
                <%= f.password_field :password, autocomplete: "current-password", class: " input is-danger" %>
                <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
              </div>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me, class: "checkbox" %>
                <%= f.label :remember_me, class: "checkbox" %>
              </div>
            <% end %>

            <div class="field">
              <%= f.submit "Log in", class: "button is-danger"%>
              <%= render "users/shared/links" %>
            </div>

            <div class="actions">
              <%= link_to "Back", :back, class: "button is-secondary" %>
            </div>
          <% end %>
          <%= link_to 'Home', welcome_path, class: "button is-secondary" %>
        </div>
      </div>
    </div>
  </div>
</section>