<section class="hero is-fullheight is-danger">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-4-widescreen">
          <div class="box">
            <div class="control has-icons-left">
              <p class="title" style="color: hsl(0, 0%, 21%); padding:0 4px 0 47px"><%= current_user.nombre %></p>
              <span class="icon is-large is-left">
                <i class="fa fa-3x fa-user"></i>
              </span>
            </div>
            <ul >
              <li></li>
              <li> Email: <%= current_user.email %> </li>
              <li> Fecha de Nacimiento: <%= current_user.edad %> </li>
              <li> Genero: <%= current_user.genero %> </li>
              <li> Comuna: <%#= current_user.comuna %> </li>
              <li> Telefono: <%= current_user.telefono %> </li>
              <li> Descripcion: <%= current_user.descripcion %> </li>
            </ul>
            <br>
            <a href="/users/edit" class="button is-info">Editar</a>
            <a href="/users/gustos" class="button is-warning">Ver mis gustos</a>
            <a href="/" class="button is-secondary">Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

