<section class="hero is-fullheight is-danger">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-4-widescreen">
          <div class="box">
            <div class="control has-icons-left">
              <% if current_user.avatar.attached? %>
                <figure class="image is-64x64" style="margin-right: 1vh;">
                  <%= image_tag current_user.avatar, class: '' %>
                </figure>
                <p class="title" style="color: hsl(0, 0%, 21%); margin-top: 4vh;"><%= current_user.nombre %></p>
              <% else %>              

                <img class="is-rounded" src="https://via.placeholder.com/64" alt="" style=""/>
                <p class="title" style="color: hsl(0, 0%, 21%); margin-top: 4vh;"><%= current_user.nombre %></p>
              <% end %>
            </div>
            <ul >
              <li></li>
              <li> Email: <%= current_user.email %> </li>
              <li> Fecha de Nacimiento: <%= current_user.edad %> </li>
              <li> Genero: <%= current_user.genero %> </li>
              <li> Comuna: <%#= current_user.comuna %> </li>
              <li> Telefono: <%= current_user.telefono %> </li>
              <li> Descripcion: <%= current_user.descripcion %> </li>
            </ul>
            <br>
            <a href="/users/edit" class="button is-info">Editar</a>
            <a href="/users/gustos" class="button is-warning">Ver mis gustos</a>
            <a href="/" class="button is-secondary">Home</a>
            <%= button_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

