<section class="hero is-danger is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="box">
        <h1 class="title" style="color: hsl(0, 0%, 21%)"> 
          Nuevo Plato para el menu de <%= current_local.nombre %>
        </h1>
        <div class="content">
          <%= form_with(model: @plato, method: :post) do |form| %>

            <div class="field">
              <%= form.label :nombre, class: "label" %><br />
              <%= form.text_field :nombre, autofocus: true, autocomplete: "nombre" %>
            </div>

            <div class='field'>
              <%= form.label :descripcion, class: "label" %><br />
              <%= form.text_area :descripcion, autofocus: true, autocomplete: "descripcion", :cols => 30, :rows => 10 %>
            </div>

            <div class="field">
              <%= form.label :precio, class: "label" %><br />
              <%= form.number_field :precio, autofocus: true, autocomplete: "precio" %>
            </div>

            <div class="is-invisible">
              <%= form.label :local%> <br />
              <%= form.number_field :local_id, autofocus: true, autocomplete: "local_id", value: current_local.id %>
            </div>

            <div class="actions">
              <%= form.submit %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<%= link_to 'Back', :back %>
</section>