<p id="notice"><%= notice %></p>
<section class="hero is-danger is-fullheight" style="background-color: #ED6A39;">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Detalle Plato
      </h1>

      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                Nombre: <strong> <%= @plato.nombre %> </strong> <br>
                Precio: $ <%= @plato.precio %><br>
                Descripción: <%= @plato.descripcion %>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="buttons">
        <% if local_signed_in? and @plato.local_id == current_local.id %>
          <%= link_to 'Editar Plato', platos_edit_path(@plato.id), class: "button is-primary" %>
        <% end %>
        <%= link_to 'Eliminar Plato', plato_path(@plato.id), method: :delete, alert: 'Estás seguro?', class: "button is-warning" %>
        <%= link_to 'Volver al menu', locals_menu_path, class: "button is-secondary", style:"background-color: #ffffff" %>
      </div>
    </div>
  </div>
  <br>
</section>






