<section class="hero is-danger is-fullheight">

<% if user_signed_in? %>
  <!-- Hero head: will stick at the top -->
    <nav class="navbar has-shadow">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <small>El mejor sitio para encontrar a tu pareja ideal</small>
          </div>
        </div>
      </div>
      <div class="navbar-menu is-danger">
        <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable" style="background-color: hsl(348, 100%, 61%)">
          <div class="navbar-link" style="background-color: hsl(348, 100%, 61%)">
            <% if current_user.avatar.attached? %>
              <figure class="image is-32x32" style="margin-right: 1vh;">
                <%= image_tag current_user.avatar, class: 'is-rounded' %>
              </figure>
            <% else %>
              <img class="is-rounded" src="https://via.placeholder.com/32" alt="" style="margin-right: 1vh;"/>
            <% end %>

            <%= current_user.nombre %>
          </div>
          <div class="navbar-dropdown" style="background-color: hsl(348, 100%, 61%)">
            <a class="navbar-item" href="<%= user_perfil_path(current_user.id) %>">
              <div>
                <span class="icon is-small">
                  <i class="fa fa-user-circle-o"></i>
                </span>
                Profile
              </div>
            </a>
            <a class="navbar-item" href="<%= destroy_user_session_path %>">
              <div>
                <span class="icon is-small">
                  <i class="fa fa-sign-out"></i>
                </span>
                Sign Out
              </div>
            </a>
          </div>
        </div>
      </div>
      </div>
    </nav>


    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          DCCitas
        </h1>
        <h2 class="subtitle">
          Bienvenido a DCCitas, <%= current_user.nombre %>
        </h2>
        <br>
        <br>
        <div class="columns">
          <div class="column">
            <div class="box">
              <div class="columns is-mobile is-centered is-vcentered">
                <div class="column is-two-fifths"></div>
                <div class="column">
                  <img src="<%= image_path("champagne.svg") %>" alt="champagne">
                </div>
                <div class="column">
                  <p class="title is-4 is-left" style="color: hsl(0, 0%, 21%)">Citas</p>
                </div>
                <div class="column is-one-fifths"></div>
              </div>
              <p>Busca entre todos los usuarios de DCCitas.</p>
              <br>
              <a href="<%= interactions_find_path %>" class="button is-warning">Buscar</a>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="is-grouped">
                <p class="title is-4" style="color: hsl(0, 0%, 21%)">Locales</p>
                <p>Busca los locales que estan afiliados con DCCitas.</p>
              </div>
              <br>
              <a href="<%= users_locales_path %>" class="button is-warning">Buscar</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
        <div class="row">

        </div>
    </div>
    <% elsif local_signed_in? %>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4"> DCCitas </h1>
        <p class="lead">Bienvenido a DCCitas, <%= current_local.nombre %>.</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm text-center">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Citas</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"> 🌎 Ver Comentarios</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Revisa comentarios de los usuarios sobre el local.</li>
                        </ul>
                    <a href="/locals/comentarios"><button type="button" class="btn btn-lg btn-block btn-primary">Informacion</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm text-center">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Locales</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"> 🏙️ Locales</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Busca los locales que estan afiliados con DCCitas.</li>
                        </ul>
                        <a href="#"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Buscar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm text-center">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Formulario</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"> 👥 Local</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li> Edita tu informacion de tu Local</li>
                        </ul>
                        <a href="/locals/perfil?id=<%= current_local.id%>"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Editar</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% elsif admin_signed_in? %>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4"> DCCitas </h1>
        <p class="lead">Bienvenido a DCCitas, Admin.</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm text-center">
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"> 🏙️ Locales</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Ver todos los Locales</li>
                        </ul>
                        <a href="<%= admins_locales_path %>"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Administrar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm text-center">
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"> 👥 Usuarios</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li> Ver todos los usuarios</li>
                        </ul>
                        <a href="<%= admins_users_path %>"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Administrar</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm text-center">
                <div class="card-body">
                  <h1 class="card-title pricing-card-title"> 👥 Comentarios</h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li> Ver todos los comentarios</li>
                  </ul>
                  <a href="/comentarios"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Administrar</button></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm text-center">
                    <div class="card-body">
                        <a href="<%= destroy_admin_session_path %>"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Log Out</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% else %>
  <div class="hero-body">
    <div class="container">
      <h1 class="title"> DCCitas </h1>
      <h2 class="subtitle">Bienvenido a DCCitas, Visita.</h2>
      <div class="columns is-centered">
        <div class="column">
          <a href="<%= new_user_session_path %>" class="button is-warning">Login as User</a>
        </div>
        <div class="column">
          <a href="<%= new_local_session_path %>" class="button is-warning">Login as Local</a>
        </div>
        <div class="column">
          <a href="<%= new_admin_session_path %>" class="button is-warning">Login as Admin</a>
        </div>
        <div class="column is-two-thirds">

        </div>
      </div>
    </div>

    <% end %>
  </div>

</section>