<section class="hero is-danger is-fullheight" style='overflow: hidden;' >

  <% if user_signed_in? %>
  <section class="hero is-danger is-fullheight">
  <meta http-equiv="refresh" content="0; url=/interactions/find" />
  </section>
    
  <% elsif local_signed_in? %>
    <div class="hero-body" style="background-color: #ED6A39;">
        <div class="container has-text-centered">
        <h1 class="title"> DCCitas </h1>
        <p class="subtitle">Bienvenido a DCCitas, <%= current_local.nombre %>.</p>
        <div class="columns">
            <div class="column">
            <div class="card has-text-centered">
                <div class="card-content">
                <h4 class="">Comentarios</h4>
                <div class="content">

                    <p>Revisa comentarios de los usuarios sobre el local.</p>
                    <a href="/locals/comentarios" class="button is-warning">
                    Informacion
                    </a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>



  <% elsif admin_signed_in? %>

    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title"> DCCitas </h1>
        <h2 class="subtitle">Bienvenido a DCCitas, Admin.</h2>
      </div>
    </div>
    <body>
    <div class="section is-large">
      <div class="columns is-centered">
        <div class="column">
          <div class="box text is-center">
            <h1 class="box-title pricing-card-title"> 🏙️ Locales</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Ver todos los Locales</li>
            </ul>
            <a href="<%= admins_locales_path %>">
              <button class="button">Administrar</button>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="box text is-center">
            <div class="box-body">
              <h1 class="box-title pricing-card-title"> 👥 Usuarios</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li> Ver todos los usuarios</li>
              </ul>
              <a href="<%= admins_users_path %>">
                <button class="button">Administrar</button>
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box text is-center">
            <div class="box-body">
              <h1 class="card-title pricing-card-title"> 👥 Comentarios</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li> Ver todos los comentarios</li>
              </ul>
              <a href="/comentarios">
                <button class="button">Administrar</button>
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box text is-center">
            <div class="box-body">
              <h1 class="card-title pricing-card-title"><strong> Gustos</strong></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li> Ver todos los gustos</li>
              </ul>
              <a href=<%= lista_gustos_path %>>
                <button class="button">Administrar</button>
              </a>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="box text is-center">
            <div class="box-body">
              <h1 class="card-title pricing-card-title"><strong> Comunas</strong></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li> Ver todos las comunas</li>
              </ul>
              <button class="button">
                <a href="<%= comunas_path %>"> Administrar</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </body>
  <% else %>
    <style>
    .hero.is-danger{
        background-color:#f14668;
        color:#fff;
        background-image: linear-gradient(to right, #f14668, #f48a48);
    }
    </style>
    <section class="hero is-white is-fullheight">
    <div class="columns" style=>
        <section class="hero is-danger is-fullheight" style='width: 40%;'>
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column">
                            <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Cupido UC </h1>
                            <h2 class="subtitle is-size-4-desktop">El lugar donde encontrarás el amor.</h2>
                            <a class="button is-white" href="/users/sign_up">
                            <span class="icon">
                                😍
                            </span>
                            <span>Registrate</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="column" style="overflow: hidden;">
            <img style="height: 110vh; width: 100%;" src="https://i.imgur.com/woqDWba.png" alt="Placeholder image">
        </div>
    </section>
  <% end %>
</section>