<section class="hero is-danger is-fullheight">

  <% if user_signed_in? %>
    <!-- Hero head: will stick at the top -->
    <nav class="navbar has-shadow">
      <div class="navbar-brand">
        <a class="navbar-item">
          <!--  <img src="<%#= image_path("logo.jpeg") %>" alt="Logo"> -->
          CupidoUC
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <small>El mejor sitio para encontrar a tu pareja ideal</small>
          </div>
        </div>
      </div>
      <div class="navbar-menu is-danger">
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable" style="background-color: hsl(348, 100%, 61%)">
            <div class="navbar-link" style="background-color: hsl(348, 100%, 61%)">
              <% if current_user.avatar.attached? %>
                <figure class="image is-24x24 is-rounded">
                  <%= image_tag current_user.avatar %>
                </figure>
              <% else %>
                <figure class="image is-24x24 is-rounded">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" class="is-rounded" alt="">
                </figure>
              <% end %>
              <p style="margin: 0px 4px 0px 9px"><%= current_user.nombre %></p>
            </div>
            <div class="navbar-dropdown" style="background-color: hsl(348, 100%, 61%)">
              <a class="navbar-item" href="<%= user_perfil_path(current_user.id) %>">
                <div>
                <span class="icon is-small">
                  <i class="fa fa-user-circle-o"></i>
                </span>
                  Profile
                </div>
              </a>
              <a class="navbar-item" href="<%= destroy_user_session_path %>">
                <div>
                <span class="icon is-small">
                  <i class="fa fa-sign-out"></i>
                </span>
                  Sign Out
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <!--        <figure class="image is-5by3 ">-->
        <!--          <img src="<%#= image_path("logologo.png") %>" alt="Logo">-->
        <!--        </figure>-->
        <h1 class="title">
          DCCitas
        </h1>
        <h2 class="subtitle">
          Bienvenido a DCCitas, <%= current_user.nombre %>
        </h2>
        <br>
        <br>
        <div class="columns">
          <div class="column">
            <div class="box">
              <!--                  <div class="media-left">-->
              <!--                    <figure class="image is-48x48 is-centered">-->
              <!--                      <img src="<%#= image_path("champagne.svg") %>" alt="champagne">-->
              <!--                    </figure>-->
              <!--                  </div>-->
              <div class="is-grouped">
                <p class="title is-4" style="color: hsl(0, 0%, 21%)">Citas</p>
                <p>Busca entre usuarios de DCCitas.</p>
              </div>
              <br>
              <a href="<%= interactions_find_path %>" class="button is-warning">Buscar</a>
            </div>


          </div>


          <div class="column">
            <div class="box">
              <!--                  <div class="media-left">-->
              <!--                    <figure class="image is-48x48 is-centered">-->
              <!--                      <img src="<%#= image_path("restaurant.svg") %>" alt="restaurant">-->
              <!--                    </figure>-->
              <!--                  </div>-->
              <div class="is-grouped">
                <p class="title is-4" style="color: hsl(0, 0%, 21%)">Locales</p>
                <p>Busca los locales de DCCitas.</p>
              </div>

              <br>
              <a href="<%= users_locales_path %>" class="button is-warning">Buscar</a>


            </div>
          </div>

          <div class="column">
            <div class="box">
              <div class="is-grouped">
                <p class="title is-4" style="color: hsl(0, 0%, 21%)">Matches</p>
                <p>Revisa tus matches.</p>
              </div>
              <br>
              <a href="<%= matches_find_path %>" class="button is-warning">Ver mis matches</a>
            </div>
          </div>

          <div class="column">
            <div class="box">
              <div class="is-grouped">
                <p class="title is-4" style="color: hsl(0, 0%, 21%)">Reportar Locales</p>
                <p>Reportar Locales</p>
              </div>
              <br>
              <a href="<%= lreports_new_path %>" class="button is-warning">Reportar</a>
            </div>
          </div>


          <div class="column">
            <div class="box">
              <div class="is-grouped">
                <p class="title is-4" style="color: hsl(0, 0%, 21%)">Reportar Usuarios</p>
                <p>Reportar Uusarios</p>
              </div>
              <br>
              <a href="<%= ureports_new_path %>" class="button is-warning">Reportar</a>
            </div>
          </div>


        </div>

      </div>
    </div>

    <div class="container">
      <div class="row">

      </div>
    </div>
  <% elsif local_signed_in? %>
    <nav class="navbar has-shadow">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="<%= image_path("logo.png") %>" alt="Logo">
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <small>El mejor sitio para encontrar a tu pareja ideal</small>
          </div>
        </div>
      </div>
      <div class="navbar-menu is-danger">
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable" style="background-color: hsl(348, 100%, 61%)">
            <div class="navbar-link" style="background-color: hsl(348, 100%, 61%)">
              <% if current_local.avatar.attached? %>
                <figure class="image is-24x24 is-rounded">
                  <%= image_tag current_local.avatar %>
                </figure>
              <% else %>
                <figure class="image is-24x24 is-rounded">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" class="is-rounded" alt="">
                </figure>
              <% end %>
              <p style="margin: 0px 4px 0px 9px"><%= current_local.nombre %></p>
            </div>
            <div class="navbar-dropdown" style="background-color: hsl(348, 100%, 61%)">
              <a class="navbar-item" href="/locals/perfil?id=<%= current_local.id %>">
                <div>
                <span class="icon is-small">
                  <i class="fa fa-user-circle-o"></i>
                </span>
                  Profile
                </div>
              </a>
              <a class="navbar-item" href="<%= destroy_local_session_path %>">
                <div>
                <span class="icon is-small">
                  <i class="fa fa-sign-out"></i>
                </span>
                  Sign Out
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title"> DCCitas </h1>
        <p class="subtitle">Bienvenido a DCCitas, <%= current_local.nombre %>.</p>

        <div class="columns">
          <div class="column">
            <div class="card has-text-centered">
              <div class="card-content">
                <h4 class="">Comentarios</h4>
                <div class="content">

                  <p>Revisa comentarios de los usuarios sobre el local.</p>
                  <a href="/locals/comentarios" class="button is-warning">
                    Informacion
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <% elsif admin_signed_in? %>
    <nav class="navbar has-shadow">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="<%= image_path("logo.png") %>" alt="Logo">
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <small>El mejor sitio para encontrar a tu pareja ideal</small>
          </div>
        </div>
      </div>
      <div class="navbar-menu is-danger">
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable" style="background-color: hsl(348, 100%, 61%)">
            <div class="navbar-link" style="background-color: hsl(348, 100%, 61%)">
              <figure class="image is-24x24 is-rounded">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" class="is-rounded" alt="">
              </figure>
              <p style="margin: 0px 4px 0px 9px">Admin</p>
            </div>
            <div class="navbar-dropdown" style="background-color: hsl(348, 100%, 61%)">
              <a class="navbar-item" href="<%= destroy_admin_session_path %>">
                <div>
                <span class="icon is-small">
                  <i class="fa fa-sign-out"></i>
                </span>
                  Sign Out
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title"> DCCitas </h1>
        <h2 class="subtitle">Bienvenido a DCCitas, Admin.</h2>
      </div>
    </div>
    <body>
    <div class="section is-large">
      <div class="columns is-centered">
        <div class="column">
          <div class="box text is-center">
            <h1 class="box-title pricing-card-title"> 🏙️ Locales</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Ver todos los Locales</li>
            </ul>
            <a href="<%= admins_locales_path %>">
              <button class="button">Administrar</button>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="box text is-center">
            <div class="box-body">
              <h1 class="box-title pricing-card-title"> 👥 Usuarios</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li> Ver todos los usuarios</li>
              </ul>
              <a href="<%= admins_users_path %>">
                <button class="button">Administrar</button>
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box text is-center">
            <div class="box-body">
              <h1 class="card-title pricing-card-title"> 👥 Comentarios</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li> Ver todos los comentarios</li>
              </ul>
              <a href="/comentarios">
                <button class="button">Administrar</button>
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box text is-center">
            <div class="box-body">
              <h1 class="card-title pricing-card-title"><strong> Gustos</strong></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li> Ver todos los gustos</li>
              </ul>
              <a href=<%= lista_gustos_path %>>
                <button class="button">Administrar</button>
              </a>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="box text is-center">
            <div class="box-body">
              <h1 class="card-title pricing-card-title"><strong> Comunas</strong></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li> Ver todos las comunas</li>
              </ul>
              <button class="button">
                <a href="<%= comunas_path %>"> Administrar</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </body>
  <% else %>
    <div class="hero-body">
      <div class="container">
        <h1 class="title"> DCCitas </h1>
        <h2 class="subtitle">Bienvenido a DCCitas, Visita.</h2>
        <div class="columns is-centered">
          <div class="column">
            <a href="<%= users_locales_path %>" class="button is-warning">Ver Locales</a>
          </div>
          <div class="column">
            <a href="<%= new_postulante_path %>" class="button is-warning">Registra tu local</a>
          </div>
          <div class="column">
            <a href="<%= new_user_session_path %>" class="button is-warning">Login as User</a>
          </div>
          <div class="column">
            <a href="<%= new_local_session_path %>" class="button is-warning">Login as Local</a>
          </div>
          <div class="column">
            <a href="<%= new_admin_session_path %>" class="button is-warning">Login as Admin</a>
          </div>

          <div class="column is-two-quarter">

          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>