<h1>Aceptar invitación</h1>

<%= form_with(model: @invitation, local: true) do |form| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this @invitation from being saved:</h2>

      <ul>
        <% @invitation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="is-hidden">
    <%= form.label :user_invita %>
    <%= form.number_field :user_invita, autofocus: true, autocomplete: "invita", value: current_user.id %>
  </div>

  <div class="is-hidden">
    <%= form.label :user_invitado %>
    <%= form.number_field :user_invitado, autofocus: true, autocomplete: "invitado", value: @invitation.user_invita.to_i %>
  </div>

  <div class="is-hidden">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="is-hidden">
    <%= form.label :local_id, class: 'label' %>
    <div class="control has-icons-left">
      <div class="select is-danger">
        <%= form.select :local_id,value: @invitation.local_id,
                    placeholder: 'Local', class: 'form-control' %>
      </div>
      
    </div>
  </div>

  <div class="field">
    <%= form.label :confirma %>
    <%= form.check_box :confirma %>
  </div>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<a href="/" class="button is-warning">Volver al Inicio</a>
