<section class="hero is-danger is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Invitations
      </h1>
      <div class="columns">
        <div class="column">
          <% @invitations.each do |invitation| %>
            <% if invitation.user_invitado == current_user.id %>
              <% if invitation.citum.nil? %>
                <div class="box">
                  <div class="content is-medium">
                    Haz recibido una invitacion a una cita de
                    <strong><%= User.find(invitation.user_invita).nombre %></strong>!
                    <br>
                    El <strong><%= invitation.fecha %></strong>,
                    para ir a <strong><%= Local.find(invitation.local_id).nombre %></strong>.
                  </div>
                  <%= link_to 'Ver detalle', new_invitation_citum_path(invitation.id), class: "button is-info" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= link_to "Volver a Matches", matches_find_path, class: "button is-warning" %>
    </div>
  </div>
</section>