<section class="hero is-fullheight is-danger">
  <h1 class="title">
    Lista de matches
  </h1>
  <h2 class="subtitle">
    Invita a tus match a una cita ¡anímate!
  </h2>
  <div class="hero-body">
    <div class="columns is-multiline">
      <div class="column is-two-thirds">
        <a href="<%= users_locales_path %>" class="button is-primary">Buscar local</a>
      </div>
      <div class="column is-one-third"></div>
      <div class="column is-two-thirds">
        <a href="<%= invitations_list_path %>" class="button is-warning">Lista invitaciones</a>
      </div>
      <div class="column is-one-third"></div>
      <div class="column is-two-thirds">
        <a href="/" class="button is-secondary" style="background-color: white">Volver al Inicio</a>
      </div>
      <div class="column is-one-third"></div>
    </div>
    <div class="container">
      <div class="columns is-multiline">
        <% @matches.each do |user_match| %>
          <% if user_match.user_id1 == current_user.id %>
            <div class="column is-4-desktop is-4-widescreen">
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-150x150">
                      <img class="rounded-circle" src="https://via.placeholder.com/150" alt=""/>
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <h3 class="title" style="color: hsl(0, 0%, 21%)"> <%= User.find_by(id: user_match.user_id2).nombre %></h3>
                      <p>
                        Mi edad es <%= User.find_by(id: user_match.user_id2).edad_numeros %> años.
                        <br>
                        <%= User.find_by(id: user_match.user_id2).descripcion %>.
                        <br>
                        Vivo en la comuna 1<%= User.find_by(id: user_match.user_id2).comuna_id %>.
                      </p>
                      <%= link_to 'Invitar a una cita ❤️', new_invitation_a_path(user_match.user_id2), class: "button is-success" %>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          <% end %>

          <% if user_match.user_id2 == current_user.id %>
            <div class="column is-4-desktop is-4-widescreen">
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-150x150">
                      <img class="rounded-circle" src="https://via.placeholder.com/150" alt=""/>
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <h3 class="title" style="color: hsl(0, 0%, 21%)"> <%= User.find_by(id: user_match.user_id1).nombre %></h3>
                      <p>
                        Mi edad es <%= User.find_by(id: user_match.user_id1).edad_numeros %> años.
                        <br>
                        <%= User.find_by(id: user_match.user_id1).descripcion %>.
                        <br>
                        Vivo en la comuna <%= User.find_by(id: user_match.user_id1).comuna.nombre %>.
                      </p>
                      <%= link_to 'Invitar a una cita ❤️', new_invitation_a_path(user_match.user_id1), class: "button is-success" %>

                    </div>
                  </div>
                </article>
              </div>
            </div>
          <% end %>
        <% end %>


      </div>

    </div>

  </div>
</section>