<section class="hero is-danger is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4-widescreen is-4-desktop">


          <h1 class="title"> Invitación de <%= User.find(@invitation.user_invita).nombre %></h1>
          <div class="box">
            <p>
              <strong>User invita:</strong>
              <%= User.find(@invitation.user_invita).nombre %>
            </p>
            <br>
            <p>
              <strong>User invitado:</strong>
              <%= current_user.nombre %>
            </p>
            <br>
            <p>
              <strong>Fecha:</strong>
              <%= @invitation.fecha %>
            </p>
            <br>
            <p>
              <strong>Local:</strong>
              <%= Local.find(@invitation.local_id).nombre %>
            </p>
          </div>
          <%= form_with(model: @cita, method: :post) do |form| %>
            <div class="field">
              <%= form.submit "Aceptar", class: "button is-success", method: :post %>
              <%= link_to 'Rechazar', @invitation, method: :delete, data: {confirm: 'Are you sure?'}, class: "button is-warning" %>
              <%= link_to "Volver", invitations_list_path, class: "button is-secondary", style: "background-color: white" %>

            </div>
            <div class="is-invisible">
              <%#= form.label :user1_id, class: "label" %>
              <%= form.number_field :user1_id, autofocus: true, autocomplete: "user1_id", value: current_user.id %>
            </div>

            <div class="is-invisible">
              <%#= form.label :user2_id, class: "label" %>
              <%= form.number_field :user2_id, autofocus: true, autocomplete: "user2_id", value: @invitation.user_invita.to_i %>
            </div>

            <div class="is-invisible">
              <%#= form.label :local_id, class: "label" %>
              <%= form.number_field :local_id, autofocus: true, autocomplete: "user2_id", value: @invitation.local_id.to_i %>
            </div>

            <div class="is-invisible">
              <%#= form.label :fecha, class: "label" %>
              <%= form.date_field :fecha, autofocus: true, autocomplete: "fecha", value: @invitation.fecha %>
              <span class="icon is-small is-left">
                            <i class="fa fa-calendar"></i>
                        </span>
            </div>


          <% end %>

        </div>
      </div>
    </div>
  </div>
</section>

