<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @postulante.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @postulante.content %>
</p>

<p>
  <strong>Autorization:</strong>
  <%= @postulante.autorization %>
</p>

<%= link_to 'Edit', edit_postulante_path(@postulante) %> |
<%= link_to 'Back', postulantes_path %>
