
<div class="hero-body">
  <h1 class="title"> Editar Gusto </h1>
</div>
<div class="columns">
  <div class="column">
  </div>
  <div class="column is-grouped-centered">
    <div class="box">
      <%= form_with(model: @gusto, url: gusto_path(@gusto.id), method: :patch) do |form| %>
        <div class="field">
          <%= form.label :nombre, class: 'label' %>
          <div class="control">
            <%= form.text_field :nombre %>
          </div>
        </div>

        <div class="field">
          <%= form.label :descripcion, class: 'label' %>
          <%= form.text_field :descripcion %>
        </div>

        <div class="actions">
          <button class="button is-primary">
            <%= form.submit %>
          </button>
        </div>
      <% end %>
    </div>
    <button class="button">
      <a href="<%= gustos_path %>"> Volver </a>
    </button>
  </div>
  <div class="column">
  </div>
</div>

