<!--<p id="notice"><%#= notice %></p>-->
<section class="hero is-danger is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="box">
        <h1 class="title" style="color: hsl(0, 0%, 21%)">Gustos Disponibles</h1>
        <table class="table">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th> Acciones </th>
          </tr>
          </thead>
          <tbody>
          <% @gustos.each do |gusto| %>
            <% unless gusto.in?(current_user.gustos) %>
              <tr>
                <td><%=  gusto.nombre  %></td>
                <td><%=  gusto.descripcion  %></td>
                <td><%=  link_to 'Ver', gusto_path(gusto.id), class: "button is-info" %>
                  <%= link_to 'Agregar a mis gustos', user_gusto_path(gusto_id: gusto.id, user_id: current_user.id),
                              class: "button is-primary" %> </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
        <a href="/gustos/new" class="button is-warning">Crear Gusto</a>
        <a href="<%= user_perfil_path(current_user.id)%>" class="button is-secondary">Volver al Perfil</a>
      </div>
    </div>
  </div>
</section>