<section class="hero is-danger is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="box">


<h1 class="title" style="color:  hsl(0, 0%, 21%)">Nuevo Gusto</h1>

<%= form_with(model: @gusto, method: :post) do |form| %>
  <div class="field">
    <%= form.label :nombre, class: "label" %>
    <%= form.text_field :nombre, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :descripcion, class: "label" %>
    <%= form.text_area :descripcion, class: "textarea is-small" %>
  </div>

  <div class="field">
    <%= form.submit "Crear Gusto", class: "button is-warning" %>
    <%= link_to 'Volver', gustos_path, class: "button is-secondary" %>
  </div>
<% end %>



      </div>
    </div>
  </div>
</section>