<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @gusto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @gusto.descripcion %>
</p>

<%= link_to 'Editar Gusto', gustos_edit_path(@gusto.id) %>
<%= link_to 'Eliminar Gusto', gusto_path(@gusto.id), method: :delete, alert: 'Estás seguro?' %>
<%= link_to 'Lista Gustos', gustos_path %>