<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Dccitas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/0ec7801840.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
